<sidebar>
  <img src="../../assets/images/Profile.png" alt="" />
  <h1 class="text-white text-2xl font-semibold mt-5">Samantha</h1>
  <p class="text-[#878787]">samantha@email.com</p>
  <ul class="text-[#878787] font-semibold text-xl mt-28">
    <li class="hover:text-white">Dashboard</li>
    <li class="mt-8 hover:text-white">Expenses</li>
    <li class="mt-8 hover:text-white">Wallets</li>
    <li class="mt-8 hover:text-white">Summary</li>
    <li class="mt-8 hover:text-white">Accounts</li>
    <li class="mt-8 hover:text-white">Settings</li>
  </ul>
</sidebar>
