<mainContent class="">
  <div class="flex gap-28">
    <div class="w-[510px]">
      <div class="flex justify-between">
        <div>
          <h1 class="text-4xl font-semibold text-[#262A41]">Expenses</h1>
          <p class="text-[#878787] text-md mt-3">01 - 25 March, 2020</p>
        </div>
        <div><img src="../../assets/images/Users.png" alt="" /></div>
      </div>
      <!-- Chart -->
      <div class="flex items-end space-x-2 mt-8">
        <!-- Bar 1 -->
        <div class="w-4 h-9 bg-blue-200"></div>
        <!-- Bar 2 -->
        <div class="w-4 h-12 bg-blue-200"></div>
        <!-- Bar 3 -->
        <div class="w-4 h-10 bg-blue-200"></div>
        <!-- Bar 4 -->
        <div class="w-4 h-7 bg-blue-200"></div>
        <!-- Bar 5 -->
        <div class="w-4 h-9 bg-blue-200"></div>
        <!-- Bar 6 -->
        <div class="w-4 h-8 bg-blue-200"></div>
        <!-- Bar 7 -->
        <div class="w-4 h-10 bg-blue-200"></div>
        <!-- Bar 8 -->
        <div class="w-4 h-7 bg-blue-200"></div>
        <!-- Bar 9 -->
        <div class="w-4 h-9 bg-blue-200"></div>
        <!-- Bar 10 -->
        <div class="w-4 h-12 bg-blue-200"></div>
        <!-- Bar 11 -->
        <div class="w-4 h-10 bg-blue-200"></div>
        <!-- Bar 12 -->
        <div class="w-4 h-7 bg-blue-200"></div>
        <!-- Bar 13 -->
        <div class="w-4 h-9 bg-blue-200"></div>
        <!-- Bar 14 -->
        <div class="w-4 h-10 bg-blue-200"></div>
        <!-- Bar 15 -->
        <div class="w-4 h-12 bg-blue-200"></div>
        <!-- Bar 16 -->
        <div class="w-4 h-7 bg-blue-200"></div>
        <!-- Bar 17 -->
        <div class="w-4 h-8 bg-blue-200"></div>
        <!-- Bar 18 -->
        <div class="w-4 h-14 bg-blue-200"></div>
        <!-- Bar 19 -->
        <div class="w-4 h-12 bg-blue-200"></div>
        <!-- Bar 20 -->
        <div class="w-4 h-8 bg-blue-200"></div>
        <!-- Bar 21 -->
        <div class="w-4 h-9 bg-blue-200"></div>
        <!-- Bar 22 -->
        <div class="w-4 h-16 bg-blue-500"></div>
        <!-- Bar 22 -->
        <div class="w-4 h-14 bg-blue-200"></div>
      </div>
      <!-- Today -->
      <div class="flex items-center justify-between mt-10">
        <h5 class="font-semibold text-[#262A41]">Today</h5>
        <div class="flex gap-1">
          <div class="w-[5px] h-[5px] bg-[#979797] rounded-full"></div>
          <div class="w-[5px] h-[5px] bg-[#979797] rounded-full"></div>
          <div class="w-[5px] h-[5px] bg-[#979797] rounded-full"></div>
        </div>
      </div>
      <hr class="mt-2" />
      <div class="mt-8">
        <!--  -->
        <div class="flex gap-5">
          <div>
            <img src="../../assets/icons/icon01.png" alt="" />
          </div>
          <div class="flex w-full">
            <div>
              <h5 class="text-[#273240] font-semibold">Grocery</h5>
              <p class="text-[#878787] text-md">5:12 pm • Belanja di pasar</p>
            </div>
            <div class="ml-auto">
              <p class="font-semibold text-[#273240]">-326.800</p>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="flex gap-5 mt-6">
          <div>
            <img src="../../assets/icons/icon02.png" alt="" />
          </div>
          <div class="flex w-full">
            <div>
              <h5 class="text-[#273240] font-semibold">Transportation</h5>
              <p class="text-[#878787] text-md">5:12 pm • Naik bus umum</p>
            </div>
            <div class="ml-auto">
              <p class="font-semibold text-[#273240]">-15.000</p>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="flex gap-5 mt-6">
          <div>
            <img src="../../assets/icons/icon03.png" alt="" />
          </div>
          <div class="flex w-full">
            <div>
              <h5 class="text-[#273240] font-semibold">Housing</h5>
              <p class="text-[#878787] text-md">5:12 pm • Bayar Listrik</p>
            </div>
            <div class="ml-auto">
              <p class="font-semibold text-[#273240]">-185.750</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Monday -->
      <div class="flex items-center justify-between mt-16">
        <h5 class="font-semibold [#273240]">Monday, 23 March 2020</h5>
        <div class="flex gap-1">
          <div class="w-[5px] h-[5px] bg-[#979797] rounded-full"></div>
          <div class="w-[5px] h-[5px] bg-[#979797] rounded-full"></div>
          <div class="w-[5px] h-[5px] bg-[#979797] rounded-full"></div>
        </div>
      </div>
      <hr class="mt-2" />
      <div class="mt-8">
        <!--  -->
        <div class="flex gap-5">
          <div>
            <img src="../../assets/icons/icon04.png" alt="" />
          </div>
          <div class="flex w-full">
            <div>
              <h5 class="text-[#273240] font-semibold">Food and Drink</h5>
              <p class="text-[#878787] text-md">5:12 pm • Makan Steak</p>
            </div>
            <div class="ml-auto">
              <p class="font-semibold text-[#273240]">-156.000</p>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="flex gap-5 mt-6">
          <div>
            <img src="../../assets/icons/icon05.png" alt="" />
          </div>
          <div class="flex w-full">
            <div>
              <h5 class="text-[#273240] font-semibold">Entertainment</h5>
              <p class="text-[#878787] text-md">5:12 pm • Nonton Bioskop</p>
            </div>
            <div class="ml-auto">
              <p class="font-semibold text-[#273240]">-35.200</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[250px]">
      <h1 class="text-xl text-[#262A41] font-semibold">Where your money go?</h1>
      <div>
        <div class="mt-10 flex gap-14">
          <h5 class="font-medium">Food and Drinks</h5>
          <p>872.400</p>
        </div>
        <div class="mt-3">
          <div class="bg-[#ECEFF5] rounded-full relative">
            <div
              class="bg-[#31BA96] w-20 py-1 rounded-full absulate top-0 left-0"
            ></div>
          </div>
        </div>
      </div>
      <!--  -->
      <div>
        <div class="mt-8 flex gap-14 justify-between">
          <h5 class="font-medium">Shopping</h5>
          <p class="text-right">1.378.200</p>
        </div>
        <div class="mt-3">
          <div class="bg-[#ECEFF5] rounded-full relative">
            <div
              class="bg-[#31BA96] w-32 py-1 rounded-full absulate top-0 left-0"
            ></div>
          </div>
        </div>
      </div>
      <!--  -->
      <div>
        <div class="mt-8 flex gap-14 justify-between">
          <h5 class="font-medium">Housing</h5>
          <p class="text-right">928.500</p>
        </div>
        <div class="mt-3">
          <div class="bg-[#ECEFF5] rounded-full relative">
            <div
              class="bg-[#31BA96] w-28 py-1 rounded-full absulate top-0 left-0"
            ></div>
          </div>
        </div>
      </div>
      <!--  -->
      <div>
        <div class="mt-8 flex gap-14 justify-between">
          <h5 class="font-medium">Transportation</h5>
          <p class="text-right">420.700</p>
        </div>
        <div class="mt-3">
          <div class="bg-[#ECEFF5] rounded-full relative">
            <div
              class="bg-[#31BA96] w-20 py-1 rounded-full absulate top-0 left-0"
            ></div>
          </div>
        </div>
      </div>
      <!--  -->
      <div>
        <div class="mt-8 flex gap-14 justify-between">
          <h5 class="font-medium">Vehicle</h5>
          <p class="text-right">520.000</p>
        </div>
        <div class="mt-3">
          <div class="bg-[#ECEFF5] rounded-full relative">
            <div
              class="bg-[#31BA96] w-28 py-1 rounded-full absulate top-0 left-0"
            ></div>
          </div>
        </div>
      </div>
      <!-- Save money -->
      <div class="p-3">
        <div class="mt-14 flex gap-16">
          <img src="../../assets/icons/bankicon.png" alt="" />
          <img src="../../assets/icons/tobicon.png" alt="" />
        </div>
        <h1 class="text-lg text-[#262A41] font-semibold mt-5">
          Save more money
        </h1>
        <p class="text-sm text-[#404852]">
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim.
        </p>
        <div>
          <button
            class="uppercase w-[200px] bg-[#101010] text-white font-semibold rounded-lg py-3 mt-5 hover:bg-[#878787] hover:text-[#101010] transform-all duration-700"
          >
            view tips
          </button>
        </div>
      </div>
    </div>
  </div>
</mainContent>
